:root {
    --php_color: rgb(127, 102, 151);
}

body {
    margin: 0;
}

header, footer {
    height: 10vh;
    background-color: var(--php_color);
}

header {
    display: grid;
    align-items: center;
}

h1, h2 {
    margin: 0;
    color: white;
    text-align: center;
}

main {
    height: 80vh;
    padding: 0 15px;
    background-image: url("../img/fondo/1.jpg");
    background-size: cover;
    background-position: center;
}

.github {
    text-align: right;
    *background-color: rgba(255, 255, 255, 0.5);
    color: white;
}

.juego {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: 75vh;
    align-content: center;
    column-gap: 20px;
}

.tablero {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0 10px;
    *justify-items: end;
}

.tablero h4 {
    text-align: center;
}

.informacion {
    display: grid;
    grid-template-rows: 20% 40%;
    align-content: center;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    padding: 0 15px;
    *width: 100%;
}

.rival table {
    display: grid;
    justify-items: end;
}

.rival {
    text-align: right;
}

.mensaje, .barcos_hundidos {
    background-color: black;
    padding: 0 15px;
    color: rgb(0, 190, 0);
    font-size: bold;
}

footer h4 {
    color: white;
    text-align: center;
    margin: 1px;
}

footer img {
    height: 50px;
}

footer {
    display: grid;
    align-items: center;
    justify-content: center;
}