table tr td {
    border: 1px solid black;
    text-align: center;
    width: 30px;
    height: 30px;
}

.c4 {
    background-color: rgb(114, 114, 255);
}

.c3 {
    background-color: orange;
}

.c2{
    background-color: green;
}

.c1{
    background-color: red;
}