:root {
    --php_color: rgb(127, 102, 151);
}

@font-face {
    font-family: "Old Book";
    src: url(../font/Olde\ English\ Regular.ttf);
}

body {
    margin: 0;
}

header, footer {
    height: 10vh;
    background-color: black;
}

header {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    *align-items: center;
}

.title_header {
    display: grid;
    align-items: center;
}

h1 {
    font-family: "Old Book";
    font-weight: lighter;
    font-size: 50px;
}

h1, h2 {
    margin: 0;
    color: white;
    text-align: center;
}

nav {
    *height: 5vh;
}

.github, .login {
    text-align: right;
}

.login {
    display: grid;
    align-items: flex-end;
    color: white;
    align-content: flex-end;
    margin: 8px;
    font-size: 16px;
}

.login input {
    width: 100px;
}

.login a {
    color: orange;
    font-weight: bold;
    text-decoration: none;
}

.cuerpo {
    background-image: url(../img/fondo_libros.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 80vh;
    width: 100%;
    display: grid;
    grid-template-rows: 5% 95%;
}

nav {
    *display: grid;
    *align-items: flex-start;
    background-color: rgb(88, 88, 88);
    color: white;
    *height: 5vh;
}

nav ul {
    margin: 10px auto;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    list-style: none;
}

nav a {
    display: block;
    text-decoration: none;
    color: white;
    margin: 0 100px;
}

nav a:hover {
    color: orange;
}

main {
    *justify-self: center;
   display: grid;
}

.contenedor {
    display: grid;
    grid-template-rows: 10% 15% auto;
    align-items: center;
    justify-self: center;
    align-self: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    height: 90%;
    width: 85%;
    overflow-x: hidden;
}

.contenedor h3 {
    margin: 5px auto;
}

.filtro {
    display: grid;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    grid-template-columns: repeat(3,auto);
}

.listado {
    height: 100%;
    overflow-x: auto;
    scrollbar-width: none;
}

.contenedor .listado::-webkit-scrollbar {
    display: none;
}

.contenedor div {
    text-align: center;
}

p.mensaje_error {
    color: red;
    text-align: center;
}

footer h4 {
    color: white;
    text-align: center;
    margin: 1px;
}

footer img {
    height: 50px;
}

footer {
    display: grid;
    align-items: center;
    justify-content: center;
}